@media screen and (min-width: 375px) {
  .row.row-two {
    display: block;
  }
 
  .footer > .container {
    padding-top: 30px;
  }
  .footer {
      height: auto!important;
  }
  .navbar-toggle {
    margin-top:18px;
    margin-bottom: 18px;
  }
 
}

@media screen and (min-width: 767px) {
  .row.row-two {
    display: block;
  }
  .navbar-nav>li>a {
    padding-bottom: 11px;
  }

  
  
}
@media screen and (min-width: 992px) {
    .row.row-two {
      display: block;
    }
   
  }
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .row.row-two {
    display: flex;
  }
 
  .footer {
    height: 300px!important;
}
#navbar li {
  margin-right: 20px;
}
  
}
