@media screen and (min-width: 375px) {
  .row.row-two {
    display: block;
  }
  body {
    padding-bottom: 470px !important;
  }
  .footer > .container {
    padding-top: 30px;
  }
  .footer {
      height: auto!important;
  }
  .navbar-toggle {
    margin-top:18px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 767px) {
  .row.row-two {
    display: block;
  }
  .navbar-nav>li>a {
    padding-bottom: 11px;
  }
  body {
    padding-bottom: 770px !important;
  }
  
  
}
@media screen and (min-width: 992px) {
    .row.row-two {
      display: block;
    }
    body {
      padding-bottom: 240px !important;
    }
  }
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .row.row-two {
    display: flex;
  }
  body {
    padding-bottom: 290px !important;
  }
  .footer {
    height: 300px!important;
}
  
}
